In [1]:
#import dependencies
import pandas as pd
import gmaps
import requests
from IPython.display import display

#import api key
from config import g_key

In [2]:
#read and retrieve/load the csv created from weatherpy
city_data_df = pd.read_csv("weather_data\cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mingaora,PK,2022-10-03 22:10:10,34.7758,72.3625,16.95,67,79,3.50
1,1,Rikitea,PF,2022-10-03 22:09:46,-23.1203,-134.9692,21.65,71,90,7.86
2,2,Yulara,AU,2022-10-03 22:10:10,-25.2406,130.9889,16.15,71,59,4.21
3,3,Nouadhibou,MR,2022-10-03 22:06:31,20.9310,-17.0347,25.01,70,67,6.54
4,4,Cape Town,ZA,2022-10-03 22:06:25,-33.9258,18.4232,14.49,73,0,0.45

In [3]:
#check data types to confirm that all are int or floating decimals for gmaps to use
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#configure gmaps to use Google api key
gmaps.configure(api_key = g_key)

In [5]:
#get the max temp and if temp is < 0, 0 will be added to list
max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [8]:
#create heatmap for max temps

#get lat and long
locations = city_data_df[["Lat", "Lng"]]

#get max temp
max_temp = city_data_df["Max Temp"]

#3. assign the figure var to the gmaps.figure() attribute
fig = gmaps.figure()

#4. assign heatmap_layer var to the heatmap_layer attribute and add in the locations
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

#5. add heatmap layer
fig.add_layer(heat_layer)

#6. call the fig to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 5
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mingaora,PK,2022-10-03 22:10:10,34.7758,72.3625,16.95,67,79,3.50
1,1,Rikitea,PF,2022-10-03 22:09:46,-23.1203,-134.9692,21.65,71,90,7.86
2,2,Yulara,AU,2022-10-03 22:10:10,-25.2406,130.9889,16.15,71,59,4.21
3,3,Nouadhibou,MR,2022-10-03 22:06:31,20.9310,-17.0347,25.01,70,67,6.54
4,4,Cape Town,ZA,2022-10-03 22:06:25,-33.9258,18.4232,14.49,73,0,0.45
5,5,Camacha,PT,2022-10-03 22:06:31,33.0833,-16.3333,18.68,77,20,1.54
6,6,Butaritari,KI,2022-10-03 22:10:10,3.0707,172.7902,27.54,73,28,4.79
7,7,Hilo,US,2022-10-03 22:09:54,19.7297,-155.0900,29.58,79,20,4.63
8,8,Ahipara,NZ,2022-10-03 22:10:11,-35.1667,173.1667,14.45,71,74,4.16
9,9,Evans,US,2022-10-03 22:10:12,33.5337,-82.1307,22.21,59,40,2.57

In [24]:
preferred_cities_df.count()

#use dropna() if there are any null rows.

City_ID       85
City          85
Country       85
Date          85
Lat           85
Lng           85
Max Temp      85
Humidity      85
Cloudiness    85
Wind Speed    85
dtype: int64

In [25]:
#6.5.4
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
0    Mingaora      PK     16.95  34.7758   72.3625
1     Rikitea      PF     21.65 -23.1203 -134.9692
2      Yulara      AU     16.15 -25.2406  130.9889
3  Nouadhibou      MR     25.01  20.9310  -17.0347
4   Cape Town      ZA     14.49 -33.9258   18.4232
5     Camacha      PT     18.68  33.0833  -16.3333
6  Butaritari      KI     27.54   3.0707  172.7902
7        Hilo      US     29.58  19.7297 -155.0900
8     Ahipara      NZ     14.45 -35.1667  173.1667
9       Evans      US     22.21  33.5337  -82.1307

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 10000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.

In [28]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Mingaora,PK,16.95,34.7758,72.3625,Burj Al Swat
1,Rikitea,PF,21.65,-23.1203,-134.9692,People ThankYou
2,Yulara,AU,16.15,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
3,Nouadhibou,MR,25.01,20.9310,-17.0347,El Medina
4,Cape Town,ZA,14.49,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

#info box popup
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))