In [1]:
#import dependencies
import pandas as pd
import gmaps
import requests

#import api key
from config import g_key

In [2]:
#read and retrieve/load the csv created from weatherpy
city_data_df = pd.read_csv("weather_data\cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Codrington,AU,2022-10-02 21:24:42,-38.2667,141.9667,8.92,87,99,2.13
1,1,Namanyere,TZ,2022-10-02 21:24:42,-7.5167,31.0500,20.37,29,98,3.28
2,2,Victoria,HK,2022-10-02 21:24:43,22.2855,114.1577,28.51,88,13,2.24
3,3,Lukovetskiy,RU,2022-10-02 21:24:43,64.2956,41.9211,5.52,92,100,2.34
4,4,Torbay,CA,2022-10-02 21:24:43,47.6666,-52.7314,9.10,70,75,5.14

In [3]:
#check data types to confirm that all are int or floating decimals for gmaps to use
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#configure gmaps to use Google api key
gmaps.configure(api_key = g_key)

In [5]:
#get the max temp and if temp is < 0, 0 will be added to list
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
#create heatmap for max temps

#get lat and long
locations = city_data_df[["Lat", "Lng"]]

#get max temp
max_temp = city_data_df["Max Temp"]

#3. assign the figure var to the gmaps.figure() attribute
fig = gmaps.figure()

#4. assign heatmap_layer var to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

#5. add heatmap layer
fig.add_layer(heat_layer)

#6. call the fig to plot the data
fig

Figure(layout=FigureLayout(height='420px'))